html{
  box-sizing: border-box;
  font-size: 100%;
}

.clear-fix {
  clear: both;
}

body {
    background-color: #3b3b3f;
    font-family: Arial, sans-serif, Helvetica, system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fdfdfd;
    margin: auto;
    /* position: relative; */
}

/* nav-bar isn't responsive yet. */
header {
  margin: auto;
  padding: 0px;
  font-size: 18px;
  background-color: #ffc300;
  box-sizing: border-box;
  min-height: 50px;
  /* border: 2px solid #fdfdfd; */
}

#nav-logo {
  background-color: #ffc300;
  display: inline;
  float: left;
  width: 20%;
  /* border: 2px solid #fdfdfd; */
}

#nav-logo a {
  text-decoration: none;
}

#nav-logo h1 {
  padding: 15px;
  margin: 15px;
  text-align: center;
  color: #010101;
  font-family: cursive;
  font-weight: bolder;
  /* border: 2px solid #fdfdfd; */
}

#main-nav {
  margin: 0 auto;
  padding: 45px;
  float: right;
  box-sizing: border-box;
  /* border: 2px solid #fdfdfd; */
}

#main-nav li{
  display: inline;
  list-style-type: none;
  padding: 40px;
  /* border: 2px solid #fdfdfd; */
}

.anchorLink {
  text-decoration: none;
  background-color: #ffc300;
  color: #010101;
  border-radius: 10px;
  padding: 10px;
}

#intro {
  display: flex;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 
  'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-image: url("../images/intro-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;
  justify-content: center;
  align-items: center;
  min-height: 600px;
}

#container-1 {
  text-align: center;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

#container-1 h1 {
  margin: 0px;
  padding: 10px;
}

#resume-button {
  font-size: 15px;
  padding: 10px;
  color: #fdfdfd;
  background-color: #1d1d1d;
  border-radius: 15px;
  border: none;
}

#begin {
  display: flex;
  box-sizing: border-box;
  color: #1d1d1d;
  background-color: #d4ddec;
  gap: 0;
  margin: 0 auto;
  padding: 90px;
  justify-content: center;
  align-items: center;
}

#about {
  font-size: large;
  text-align: left;
  line-height: 1.6em;
  /* border: 2px solid white; */
  padding: 20px;
  width: 50%;
}

#img-container{
  /* border: 2px solid red; */
  width: 30%;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

#profile {
  height: auto;
  width: 70%;
  /* border: 2px solid gold; */
  box-shadow: 5px 5px 5px 5px #333333;
}

#skills{
  margin: 0px;
  text-align: left;
  padding: 30px 10px;
  color: #010101;
  background-color: #d7e6fa;
  justify-content: center;
  align-items: center;
}

#skills h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
  'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

#skills-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0px;
  padding: 50px;
  box-sizing: border-box;
  grid-gap: 2em;
}

.skills-grid {
  padding: 15px;
  box-shadow: 5px 5px 5px 3px #333333;
  /* box-shadow: 5px 5px 5px 3px #9096f1; */
  align-self: center;
  justify-self: center;
}

.box-1 img, .box-2 img, .box-3 img, .box-7 img, .box-8 img {
  height: 100px;
  width: 100px;
  text-align: center;
}

.box-4 img {
  height: 100px;
  width: 120px;
  text-align: center;
}

.box-5 img{
  height: 100px;
  width: 250px;
  text-align: center;
}

.box-6 img{
  height: 100px;
  width: 180px;
  text-align: center;
}


#footer {
  display: flex;
  box-sizing: border-box;
  gap: 0px;
}

#footer-container {
  margin: auto;
  text-align: left;
  padding: 20px;
  line-height: 10px;
  color: #010101;
  background-color: #ffc300;
  border: 2px solid white;
  border-radius: 5px;
}

#last-line {
  text-align: center;
  background-color: #eaeaea;
  padding: 40px;
  font-size: 18px;
  color: #010101;
  font-weight: bolder;
}

#last-line a {
  padding: 0px;
  text-decoration: none;
  color: #010101;
}

#last-line a:hover {
  color: #fdfdfd;
}